body {
    margin: 0;
    background: -webkit-linear-gradient(#feebe2, #ebb3ba);
    background: -moz-linear-gradient(#feebe2, #ebb3ba);
    background: linear-gradient(#feebe2, #ebb3ba);
    font-family: sans-serif;
}

.body-container {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 100%; */
}

.page-navigation-container {
    display: flex;
    width: auto;
    justify-content: space-between;
}

.page-navigation-item {
    /* margin: 20px; */
    margin: 20px 50px;
}

.menu-container {
    display: block;
    position: relative;
    /* top: 50px;
    left: 50px; */
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
}

.menu-container a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

.menu-container a:hover
{
  color: tomato;
}

.menu-container input
{
  display: block;
  width: 33px;
  height: 27px;
  position: absolute;
  margin: 0;
  /* top: -7px; */
  /* left: -5px; */
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

.menu-container span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #232323;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child
{
  transform-origin: 0% 0%;
}

.menu-container span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
 .menu-container input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-10px, -9px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
 .menu-container input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
 .menu-container input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(-10px, 9px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
 .menu-container input:checked ~ ul
{
  transform: none;
}

.hero-image-container {
  margin: 20px 50px;
}

.hero-image {
  position: relative;
}

.hero-image img {
  max-width: 100%;
}

.hero-image-floating-text {
    /* position: absolute;
    top: 50px;
    right: 0px; */
    position: absolute;
    top: 50px;
    right: 50px;
    max-width: 350px;
}

.hero-image-floating-text .floating-text-header {
  font-family: baskerville;
  color: #6d0939;
  font-size: 41px;
  font-weight: bold;
  padding-bottom: 15px;
}

.hero-image-floating-text .floating-text-subject {
  font-family: 'Open Sans';
  line-height: 35px;
  font-size: 22px;
}

.portfolio-preview-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 50px;
}

.portfolio-item img {
  max-width: 100%;
}

.portfolio-preview-container .item-one {
  margin-right: 30px;
}

.portfolio-preview-container .item-two {
  margin-right: 30px;
}