.hero-image-container {
  margin: 20px 50px;
  user-select: none;
}

.hero-image {
  position: relative;
}

.hero-image img {
  max-width: 100%;
}

.hero-image-floating-text {
    /* position: absolute;
    top: 50px;
    right: 0px; */
    position: absolute;
    top: 50px;
    right: 50px;
    max-width: 350px;
}

.hero-image-floating-text .floating-text-header {
  font-family: baskerville;
  color: #6d0939;
  font-size: 41px;
  font-weight: bold;
  padding-bottom: 15px;
}

.hero-image-floating-text .floating-text-subject {
  font-family: 'Open Sans';
  line-height: 35px;
  font-size: 22px;
}

.portfolio-preview-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 50px;
}

.portfolio-item img {
  max-width: 100%;
}

.portfolio-preview-container .item-one {
  margin-right: 30px;
}

.portfolio-preview-container .item-two {
  margin-right: 30px;
}